*
{
    margin: 0;
    font-family: sans-serif;
}
.header{
    background-color: rgba(16, 28, 38, 1);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.header2{
    display: flex;gap: 20px;
    color: rgba(186, 185, 185, 1);
    font-size: 16px;
    font-weight: 500px;
}
.button{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
}
.button2{
    border: 1px solid rgba(240, 231, 20, 1);
    background-color: rgba(240, 231, 20, 1);
    padding: 10px 30px;
    border-radius: 20px;
    color:black;
}
.box{
    display: flex;gap: 50px;
    align-items: center;
    justify-content: center;
    background-color:rgba(16, 28, 38, 1);
    color: white;
    padding: 20px 80px;
}
.p1{
    color: rgba(240, 231, 20, 1);
    font-size: 44px;
    font-weight: 600px;
}
.p2{
    
    font-size: 16px;
    font-weight: 500px;
}
.box2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.box3{
    background-color: rgba(16, 28, 38, 1);
    padding-bottom: 50px;
    padding: 10px;
    display: flex;gap: 40px;
    align-items: center;
    justify-content: center;
}
.content{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;gap: 20px;
    align-items: center;
}
.content2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    width: 600px;

}
.button3{
    width: 100px;
    border-radius: 20px;
    background-color: rgba(240, 231, 20, 0.2);
    border: none;
    padding: 10px 20px;

}
.button4{
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(36, 39, 46, 1);
    color: yellow;
}
.button5{
    width: 200px;
    border-radius: 20px;
    background-color: rgba(240, 231, 20, 0.2);
    border: none;
    padding: 10px 20px;

}
.financ{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;gap: 10px;
    position: relative;
}
.financ2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.imgmasc{
    position: absolute;
    top: 410px;
    left: 950px;
}
.searvices{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wrap{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    gap: 20px;
}
.Product{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid rgb(228, 222, 222);
    padding: 20px 20px;
}
.pr{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.Ready{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.Booking{
    width: 70%;
    margin: auto;
    display: flex;gap: 30px;
    margin-bottom: 40px;
}
.book2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.Simmons{
    width: 100%;
    margin: auto;
    display: flex;gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.zak1{
    border-radius: 10px;
    border: 1px solid rgb(230, 227, 227);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    height: 338px;
    padding: 10px 30px;
    overflow: hidden;
    
}
.zak2{
    border-radius: 10px;
    border: 1px solid rgb(219, 216, 216);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 10px 30px;
    margin-top: -20px;
    width: 3000px;
    box-shadow: 0px 0px 5px rgb(180, 176, 176);
    
    
}
.CONTACTS{
    display: flex;gap: 20px;
    width: 80%;
    margin: auto;
    
    margin-top: 40px;
    margin-bottom: 30px;
}
.cont1{
    
   
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    padding: 10px 40px;
    color: rgba(85, 92, 104, 1);
    
    
}
.cont2{
    background-color: rgba(16, 28, 38, 1);
    color: white;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    padding: 10px 40px;
    border-radius: 20px;
}
.a1{
    /* background-color: blue; */
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;row-gap: 10px;
    margin-bottom: 10px;
}
.input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.button6{
    padding: 10px 30px;
    border-radius: 20px;
    background-color: yellow;
    border: none;
    width: 200px;
}
.oxir{
    background-color: rgba(16, 28, 38, 1);
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom:30px ;
    padding: 20px 60px;
    align-items: center;
}
