*
{
    margin: 0;
    font-family: sans-serif;
}
.header{
    background-color: rgba(16, 28, 38, 1);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.header2{
    display: flex;gap: 20px;
    color: rgba(186, 185, 185, 1);
    font-size: 16px;
    font-weight: 500px;
}
.button{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
}
.button2{
    border: 1px solid rgba(240, 231, 20, 1);
    background-color: rgba(240, 231, 20, 1);
    padding: 10px 30px;
    border-radius: 20px;
    color:black;
}
.box{
    display: flex;gap: 50px;
    align-items: center;
    justify-content: center;
    background-color:rgba(16, 28, 38, 1);
    color: white;
    padding: 20px 80px;
}
.p1{
    color: rgba(240, 231, 20, 1);
    font-size: 44px;
    font-weight: 600px;
}
.p2{
    
    font-size: 16px;
    font-weight: 500px;
}
.box2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.box3{
    background-color: rgba(16, 28, 38, 1);
    padding-bottom: 50px;
    padding: 10px;
    display: flex;gap: 40px;
    align-items: center;
    justify-content: center;
}
.content{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;gap: 20px;
    align-items: center;
}
.content2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    width: 600px;

}
.button3{
    width: 100px;
    border-radius: 20px;
    background-color: rgba(240, 231, 20, 0.2);
    border: none;
    padding: 10px 20px;

}
.button4{
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(36, 39, 46, 1);
    color: yellow;
}
.button5{
    width: 200px;
    border-radius: 20px;
    background-color: rgba(240, 231, 20, 0.2);
    border: none;
    padding: 10px 20px;

}
.financ{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;gap: 10px;
    position: relative;
}
.financ2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.imgmasc{
    position: absolute;
    top: 410px;
    left: 950px;
}